<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>Menu</div>
    <div>
        @await Component.InvokeAsync("StudentList", new { filter = "a"});@*buradaki filterı bir query string vsden dinamik olarak alamıyoruz çünkü view conponentlerin böyle bir özelliği yok*@
    </div>
    <div>
        @RenderBody()
    </div>
    <div>Footer</div>
    <div>
        @* false -> eğer o sayfada MySection diye bir section yoksa render etme (defaultu true)*@
        @RenderSection("MySection",false)
    </div>
</body>
</html>
